.services {
    background-color: $gray-100;

    .card {
        background-image: url("https://12andrian85.github.io/ecomert/public/img/image_4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;
        display: inline-block;



        .icon-svg {
            height: 55px;
            fill: $white;
        }

        .icon-block {
            height: 55px;
            fill: $primary;

        }

        .card-block {
            display: flex;
            height: 350px;
            background-color: white;
            transition: 0.7s;

        }

    }

    .card-project {
        background-image: url("https://12andrian85.github.io/ecomert/public/img/image_1.jpg");
    }

    .card-design {
        background-image: url("https://12andrian85.github.io/ecomert/public/img/image_2.jpg");
    }

    .card-repair {
        background-image: url("https://12andrian85.github.io/ecomert/public/img/image_3.jpg");
    }

    .cart:hover {
        .card-block {
            filter: opacity(0)

        }
    }
}